<a href="https://colab.research.google.com/github/whyjustsd/assignment/blob/main/while.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
n = int(input("type the number!"))
sum = 0
increase = 1
while increase <=n:
  sum = sum+increase
  increase = increase +1
sum

type the number!5

15

In [4]:
n= int(input("enter the number"))
mul = 1
while n>0:
  mul = mul*n
  n = n-1
mul

enter the number5

120

In [5]:
n = int(input("enter the number"))
start = 0
a,b = 0,1
while start<=n:
  print(a)
  c = a+b
  a = b
  b = c
  start = start+1

enter the number6
0
1
1
2
3
5
8

In [6]:
word = input("enter your word: ")

enter your word: sudh

In [11]:
word = input("enter your word")
reverse = ""
length = len(word)
while length>0:
  reverse = reverse + word[length-1]
  length = length-1
print(reverse)

enter your wordsayan
nayas

In [21]:
n = int (input("enter the number of table = "))
i = 1
while i<=10:
  result = n*i
  print(n,"*",i,"=", result)
  i = i +1

enter the number of table = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50